[alias]
	c = commit -sS
	t = tag -sS
	v = checkout
	l = log --date=short --pretty=format:'%C(bold yellow)%h %C(bold green)%ad %C(reset)%s %C(bold blue)[%an]%C(bold red)%d' --topo-order
	ss = status -s
	s = status
	b = branch
	cp = cherry-pick

[color]
	ui = auto

[user]
	name = Hugo
	email = git@hugo.gg
	signingkey = 11922AECD17D329E

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_global
	whitespace = space-before-tab,tab-in-indent,trailing-space
	editor = vim

[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[diff]
	compactionHeuristic = true

[diff "color"]
	old = red strike
	new = green italic

[fetch]
	prune = true
[pull]
	prune = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
